name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1 

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t spring-boot-app .

      - name: Tag Docker image
        run: |
          docker tag spring-boot-app:latest \
          665168932067.dkr.ecr.eu-north-1.amazonaws.com/spring-boot-app:latest

      - name: Push Docker image to ECR
        run: |
          docker push \
          665168932067.dkr.ecr.eu-north-1.amazonaws.com/spring-boot-app:latest

  deploy:
    needs: docker-build-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY_EC2 }}
          script: |
            docker pull 665168932067.dkr.ecr.eu-north-1.amazonaws.com/spring-boot-app:latest
            docker stop spring-boot || true
            docker rm spring-boot || true
            docker run -d -p 8080:8080 --name spring-boot \
            665168932067.dkr.ecr.eu-north-1.amazonaws.com/spring-boot-app:latest

        


